body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}


.container{
    top: 50px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: aliceblue ;
}
.divPrincipal{

    text-align: center;
}

input[type="button"]{

    text-align: center;
    display: inline-block;
}
a{
    text-align: center;
}