form{

    text-align: center;
}

input[type="text"]{

    height: 40px;
    width: 300px;
    margin: 0 auto;
}
input[type="password"]{

    height: 40px;
    width: 300px;
    margin: 0 auto;
}
select{

    height: 40px;
    width: 400px;
    margin: 0 auto;

}
 h2, h3{

    color:  #070707;
   
}